* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;   
    box-sizing: border-box;
}

button {
    background-color: var(--fiol);
    color: var(--white);
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-properties {
    font-size: 14px;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    width: 159px;
    height: 40px;
    background: #100A55;
    border-radius: 8px;
}

body {
    font-family: "Plus Jakarta Sans", serif;
  }

:root {
    --fiol: #7065F0;
    --white: #ffff;
    --black-text: #000929;
    --grey: #E5E5E5;
}

.home-desc--mobile {
    display: none;
}

@media (max-width: 600px) {
    .desktop-only {
        display: none;
    }

    .home-desc--mobile {
        display: block;
    }
}