.decs-list {
    
    width: 544px;
    height: 306px;
    margin-top: 88px;
    margin-bottom: 280px;
}


.header-section {
    display: flex;
    justify-content: space-between;
    width: 1450px;
    margin: 0 auto;
}

.header-desc {
    margin-left: 180px;
}

.buy-item {
    font-size: 64px;
    line-height: 70px;
    margin-bottom: 32px;
    font-weight: bold;
}

.decs-item {
    width: 448px;
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
}

.header-villa {
    background-image: url(/img/bggg.png);
    background-color: transparent;
    background-position: right;
    background-repeat: no-repeat;
    width: 726px;
    height: 886px;
}

.icon-wrapper {
    display: flex;
    width: 480px;
    height: 152px;
    justify-content: space-between;
    margin-bottom: 48px;
}

.icon-item {
    margin-top: 24px;
}

.icon-text {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    color: var(--fiol);
}

.icon-desc {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: var(--black-text);
}

@media (max-width: 600px) {
    .desktop-only {
        display: none;
    }

    .header-desc {
        margin: 0;
    } 

    .header-section {
        display: block;
        width: auto;
    }
    .header-villa {
        display: none;
    }

    .decs-list {
        width: 327px;
        height: 260px;
        margin: 0 auto;
        margin-top: 48px;
        margin-bottom: 232px;
    }

    .decs-item {
        width: 327px;
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
        text-align: center;
    } 

    .buy-item {
        font-size: 40px;
        line-height: 44px;
        text-align: center;
    }

    .icon-wrapper {
        width: 327px;
        height: 140px;
        margin: 0 auto;
    }

   .icon-text {
    font-size: 20px;
    line-height: 28px;
   }

   .icon-desc {
    font-size: 14px;
    line-height: 18px;
   }

   .icon-list {
    width: 154px;
   }
}