.location-background {
    background: linear-gradient(to top, #F0EFFB, #ffff);
}

.location-wrapper {
    width: 1120px;
    margin: 0 auto;
    padding-top: 80px;
}

.location-list__title {
    width: 544px;
    height: 98px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 72px;
}

.location-title {
    font-size: 40px;
    line-height: 52px;
    font-weight: bold;
    margin-bottom: 16px;
}

.location-desc {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.location-menu {
    background: #F0EFFB;
    border: 1.5px solid #E0DEF7;
    border-radius: 8px;
    width: 377px;
    height: 64px;
}

.location-menu--wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    width: 361px;
    height: 48px;
    margin: 8px;
}

.menu-item {
    width: 115px;
    height: 48px;
}

.item-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-list--active {
    background: #FFFFFF;
    border: 2px solid #E0DEF7;
    box-shadow: 0px 3px 40px rgba(14, 8, 84, 0.05);
    border-radius: 6px;
}

.item-wrapper {
    width: 69px;
    height: 26px;
    margin-top: 10px;
    margin-bottom: 8px;
    margin-left: 19px;
    margin-right: 24px;
}

.item-desc {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #100A55;

}

.item-desc--active {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: var(--fiol);
}

.myinput {
    background: #F7F7FD;
    border: 2px solid #E0DEF7;
    border-radius: 8px;
    width: 352px;
    height: 64px;
    position: relative;
}

.myinput::placeholder {
    background-image: url('./img/search.svg');
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 40px;
    font-size: 16px;
    line-height: 24px;
    top: 20px;
    left: 15px;
    
}

/* Карточки ! */

.home-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px;
}

.home {
    width: 352px;
    height: 424px;
    background-color: var(--white);
    background-repeat: no-repeat;
    border: 1.5px solid #F0EFFB;
    border-radius: 8px;
    position: relative;

}

.home::before {
    content: url("./img/card-svg.svg");
    position: absolute;
    top: 182px;
    left: -7px;
}

.home-list {
    margin-top: 232px;
    margin-left: 24px;
    width: 284px;
}

.home-cout {
    font-size: 24px;
    line-height: 32px;
    color: var(--fiol);
    font-weight: bold;
    margin-bottom: 4px;
    margin-bottom: 4px;
}


.cout-grey {
    font-size: 16px;
    line-height: 24px;
    color: black;
    opacity: 0.5;
}

.home-title {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    margin-bottom: 8px;
}

.home-desc {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.conditions {
    width: 304px;
    margin: 0 auto;
    border-top: 2px #F0EFFB solid;
    padding-top: 16px;

}



.conditions-list {
    display: flex;
    justify-content: space-between;
}

.conditions-item {
    display: flex;
    gap: 4px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;

}

.conditions-text {
    opacity: 0.7;
}

.button-wrapper {
    text-align: center;
    padding-bottom: 80px;
}

.button-pro {
    width: 253px;
    height: 56px;
}

@media (max-width: 600px) {
    .location-wrapper {
        width: 375px;
        margin: 0 auto;
        padding-top: 48px;
    }

    .location-list__title {
        width: 327px;
        height: 148px;
        margin-bottom: 48px;
    }

    .location-title {
        margin-bottom: 16px;
        font-size: 32px;
        line-height: 38px;
    }

    .location-menu--wrapper {
        flex-direction: column;
        gap: 24px;
    }

    .location-menu {
        order: 2;
        width: 327px;
        margin: 0 auto;
        padding: 8px;
    }

    .location-search {
        width: 327px;
        margin: 0 auto;
    }

    .menu-list {
        order: 1;
        width: 317px;
        margin: 0;
    }

    .myinput {
        width: 327px;
        height: 64px;
    }

    .menu-item {
        width: 98px;
    }

    .item-wrapper {
        margin-top: 10px;
        margin-bottom: 8px;
        margin-left: 10px;
        margin-right: 16px;
    }
    
}




